@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.input {
  @apply border-2 border-green-500 outline-none rounded-md p-2 dark:placeholder:text-slate-200 dark:text-slate-50;
}

button {
  @apply cursor-pointer;
}

.hide {
  @apply hidden;
}

.disabled {
  @apply cursor-not-allowed;
}
